:root {
    --color-primary: #f5f5f5;
    --color-surface: #fff;
    --font-body: 'Ubuntu', serif;
    --result-background: #c4c1d2;
    --panel-background: #f5f5f5;
    --card-background: #c4c1d2;
    --color-button-primary: #4caf50;
    --color-button-warning: #f59e0b;
    --color-button-danger: #fb3b3b;
    --color-action-button-text: #fff;
    --color-error-text: #fb3b3b;
}